html, body {
  height: 100%;
  width: 100%;
  display: flex;
}

.block {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 3px;
}

.input {
  height: 20px;
  width: 20px;
}

input::before {
  content: " ";
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 5px;
}

.input-red::before {
  border: 2px solid red;
}

.input-blue::before {
  border: 2px solid blue;
}

.btn {
  margin-top: 15px;
  width: 70px;
  cursor: pointer;
}
